# Environnements virtuels
env/
venv/

# Fichiers d'environnement
.env*

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Base de données locale
db.sqlite3

# Fichiers statiques collectés
/staticfiles/
media/

# Configs et fichiers temporaires
*.pot
*.pyc
*.pyo
*.pyd
.Python
*.swp
*~
.DS_Store
.vscode/
.idea/

# Tests / coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# pylint
pylint*

# Misc
*.sqlite3

